@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

body {
  @apply text-white min-h-screen;
  background: radial-gradient(circle at top left, #0f172a, #020617 60%);
  font-family: 'Poppins', sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #06b6d4, #9333ea);
  border-radius: 10px;
}