*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.container{
  max-width:1200px;
  margin:auto;
  padding:0 20px;
}

/* NAV */
header{
  position:fixed;
  width:100%;
  backdrop-filter:blur(12px);
  background:rgba(15,23,42,0.7);
  z-index:1000;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 0;
}

.logo{
  font-weight:800;
  font-size:1.5rem;
}

ul{
  list-style:none;
  display:flex;
  gap:30px;
}

a{
  text-decoration:none;
  color:white;
}

.menu-btn{
  display:none;
  background:none;
  border:none;
  color:white;
  font-size:22px;
}

/* BUTTON */
.btn{
  padding:10px 24px;
  border-radius:30px;
  max-width: fit-content;
  font-weight:600;
  transition:0.3s;
}

.primary{
  background:linear-gradient(45deg,#6366f1,#a855f7);
}

.outline{
  border:2px solid #6366f1;
}

.light{
  background:white;
  color:#6366f1;
}

/* HERO */
.hero{
  padding:160px 0 100px;
}

.hero-content{
  display:flex;
  align-items:center;
  gap:50px;
}

.hero-text h1{
  font-size:3rem;
  margin-bottom:20px;
}

.hero-text p{
  margin-bottom:25px;
  color:#cbd5e1;
}

.stats{
  display:flex;
  gap:30px;
  margin-top:30px;
}

.stats h3{
  color:#6366f1;
}

.hero-img img{
  width:100%;
  border-radius:20px;
}

/* FEATURES */
.features{
  padding:100px 0;
  text-align:center;
}

.feature-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  margin-top:50px;
}

.card{
  background:#1e293b;
  padding:40px;
  border-radius:20px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  background:#334155;
}

.card i{
  font-size:30px;
  color:#6366f1;
  margin-bottom:15px;
}

/* PRICING */
.pricing{
  padding:100px 0;
  text-align:center;
}

.pricing-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
  margin-top:50px;
}

.price{
  font-size:2.5rem;
  color:#6366f1;
}

.price-card{
  background:#1e293b;
  padding:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  border-radius:20px;
}

.popular{
  border:2px solid #6366f1;
}

.price-card ul{
  margin:20px 0;
}

.price-card li{
  margin:10px 0;
}

/* CTA */
.cta{
  padding:100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  text-align:center;
  background:linear-gradient(45deg,#6366f1,#a855f7);
}

/* FOOTER */
footer{
  text-align:center;
  padding:30px;
  background:#020617;
}

/* RESPONSIVE */
@media(max-width:768px){

  .hero-content{
    flex-direction:column;
    text-align:center;
  }

  ul{
    position:absolute;
    top:80px;
    left:0;
    width:100%;
    flex-direction:column;
    background:#0f172a;
    display:none;
  }

  ul.active{
    display:flex;
  }

  ul li{
    padding:15px;
  }

  .menu-btn{
    display:block;
  }
}